

<table border="1" cellpadding="5" cellspacing="5" >
  <tr>
    <th>id</th>
      <th>name</th>
       <th>username</th>
        <th>email</th>
    <th>city</th>
    <th>street</th>
    <th>suite</th>
    <th>zipcode</th>
    <th>phone</th>
    <th>website</th>
  </tr>
  <tr>
    <td>{{detailUser2?.id}}</td>
    <td>{{detailUser2?.name}}</td>
    <td>{{detailUser2?.username}}</td>
    <td>{{detailUser2?.email}}</td>
    <td>{{detailUser2?.address.city}}
    </td>
    <td> {{detailUser2?.address.street}}
    </td>
    <td>  {{detailUser2?.address.suite}}
    </td>
    <td>  {{detailUser2?.address.zipcode}}
    </td>
    <td>  {{detailUser2?.phone}}
    </td>
    <td>  {{detailUser2?.website}}
    </td>
  </tr>




</table>

