

<table border="1" cellpadding="5" cellspacing="5" >
  <tr>
    <th>id</th>
    <th>name</th>
    <th>username</th>
    <th>email</th>
    <th>city</th>
    <th>street</th>
    <th>suite</th>
    <th>zipcode</th>
    <th>phone</th>
    <th>website</th>
  </tr>
  <tr>
    <td>{{detailUser?.id}}</td>
    <td>{{detailUser?.name}}</td>
    <td>{{detailUser?.username}}</td>
    <td>{{detailUser?.email}}</td>
    <td>{{detailUser?.address.city}}
    </td>
    <td> {{detailUser?.address.street}}
    </td>
    <td>  {{detailUser?.address.suite}}
    </td>
    <td>  {{detailUser?.address.zipcode}}
    </td>
    <td>  {{detailUser?.phone}}
    </td>
    <td>  {{detailUser?.website}}
    </td>
  </tr>




</table>

