ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    background: rgba(255, 255, 255, 0);
    height: 50px;
    width: fit-content;


}
a {
    text-decoration: none;
    background: rgba(7, 2, 2, 0.93);
    color: rgba(252, 0, 49, 0.69);
    padding:1px 15px;
    font-family: "Segoe Print", serif;
    line-height:50px;
    display: block;
    border-right: 1px solid rgba(243, 98, 98, 0);
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.63);
}
li {
    float:right;
}